.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}
.cart__footer .cart__blocks h2.totals__total, .cart__footer .cart__blocks p.totals__total-value {
    margin: 0;
    font-size: 16px;
    line-height: 1.42857143;
    padding: 5px 10px;
    text-align: right;
    color: #333;
}
.cart__footer .cart__blocks .js-contents .totals:nth-last-child(2) h2.totals__total, .cart__footer .cart__blocks .js-contents .totals:nth-last-child(2) p.totals__total-value {
  font-weight: 700px;
}
@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
